{% extends'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
<h1>Page de jeu</h1>
    <div style="width: 640px;
            height: 50px;
            text-align: center;
            background-color: #2B3E50;
            position: absolute;">
    </div>
    <div style="text-align: center;">

        <iframe type="text/html" width="640" height="100"
                src="http://www.youtube.com/embed/k43TrhN8Yt4?autoplay=1&origin=https://www.youtube.com/watch?v=k43TrhN8Yt4"
                frameborder="0"></iframe>
    </div>

    <button>Option 1</button>
    <button>Option 2</button>
    <button>Option 3</button>
    <button>Option 4</button>


{% endblock %}
